hawkular:
  url: https://yzamir-centos7-1.eng.lab.tlv.redhat.com:443
  username: hawkular
  password: bi-rz57-Gl_a44F
  tenant: _ops
rules:
  - regex: .*memory.*
    tags:
      units: byte
  - regex: .*cpu.*
    tags:
      units: cpu
